services:
  mysql:
    image: mysql:8
    container_name: nextjs-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: MyP@ssw0rd
      MYSQL_DATABASE: next-app
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
